/* assets/css/style.css */

.table-container {
  overflow-x: auto;
}

.markdown-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  text-align: center;
  min-width: 800px;
}

.markdown-table th:nth-child(1),
.markdown-table td:nth-child(1) {
  width: 400px;
}

.markdown-table th:nth-child(2),
.markdown-table td:nth-child(2) {
  width: 80px;
}

.markdown-table th:nth-child(3),
.markdown-table td:nth-child(3) {
  width: 320px;
}
